node_modules/
uploads/
client/*/*.js
client/*/*.js.map
client/app/*.js
client/app/*.js.map
client/app/*/*.js
client/app/*/*.js.map
client/app/*/*/*.js
client/app/*/*/*.js.map
npm-debug.log.*
bower_components/

