<h2>Courses</h2>
<form class="well" (submit)="addCourse($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Course...">
        <input type="text" [(ngModel)]="code" name="code" class="form-control" placeholder="Add Code...">
        <button type="submit">Add</button>
    </div>
</form>
<table *ngIf="courses" class="dataTable border bordered">
    <thead>
        <tr>
            <td>TITLE</td>
            <td>CODE</td>
            <td>MANAGE</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>
                <span [hidden]="course.editState"> {{course.title}} </span>
                <input [hidden]="!course.editState" type="text" [(ngModel)]="course.title" name="title" class="form-control" placeholder="Edit Course...">
            </td>
            <td>
                <span [hidden]="course.editState">  {{course.code}} </span>
                <input [hidden]="!course.editState" type="text" [(ngModel)]="course.code" name="code" class="form-control" placeholder="Edit Code...">
            </td>
            <td>
                <span [hidden]="course.editState">  
                    <a class="button primary" type="button" (click)="editCourse(course)">edit</a>
                    <a class="button info" type="button" [routerLink]="['/course-detail', course._id]">Detail</a>
                    <input class="button danger" type="button" (click)="deleteCourse(course._id)" value="Delete">
                </span>
                <span [hidden]="!course.editState">                  
                    <a class="button primary" type="button" (click)="updateCourse(course)">Save</a>
                    <a class="button danger" type="button" (click)="editCourse(course)">Cancel</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>