<h2>Courses Component</h2>
<div class="well">
    This is course component.
</div>

<form class="well" (submit)="addCourse($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Course...">
        <input type="text" [(ngModel)]="code" name="code" class="form-control" placeholder="Add Code...">
        <button type="submit">Submit</button>
    </div>

</form>

<table class="dataTable border bordered" data-auto-width="false">
    <thead>
        <tr>
            <td>TITLE</td>
            <td>CODE</td>
            <td>MANAGE</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td> {{course.title}}</td>
            <td> {{course.code}}</td>
            <td>  <input class="button danger" type="button" (click)="deleteCourse(course._id)" value="Delete"> </td>
        </tr>
    </tbody>
</table>