<div class="accordion" data-role="accordion">
    <div class="frame">
        <div class="heading">Attendance Setting<span class="mif-home icon"></span></div>
        <div class="content">
            <button class="button primary" (click)="">Auto Generate Attendance Template</button>
            <ul> 
                <li *ngFor="let attendance of attendances">

                </li>
            </ul>
        </div>
    </div>
    <div class="frame">
        <div class="heading">Grade Items<span class="mif-home icon"></span></div>
        <div class="content">Frame content</div>
    </div>
    <div class="frame">
        <div class="heading">Grade Rules<span class="mif-home icon"></span></div>
        <div class="content">Frame content</div>
    </div>
</div>